<app-toolbar [title]= "'TP base de datos - grupo 7'"></app-toolbar>
<main>
 
  <div class="buttonOpcions">
    <button mat-raised-button color="primary" class="buttonEncuestas" (click)="navigateToPoll()">
      <img src="../../../assets/crud.png" width="200rem"><br>
      Encuestas
    </button>
    
    <button mat-raised-button color="primary" class="buttonReporte" (click)="navegateToreport()">
      <img src="../../../assets/reporting-analytics_60.png" height="150rem"><br>
      Descargas
    </button>
  </div>
</main>
