<app-toolbar [title]="titulo" [icon]="'poll'"></app-toolbar>
<mat-card class="matCardPoll" *ngIf="poll.id_encuesta!= null">
  <div class="cardresumen">
    <mat-card-content>
      <div>
        <h2>Puntaje: </h2>
        <button mat-fab [disableRipple]="true" color="primary">{{poll.puntaje}}</button>
        <mat-divider></mat-divider>
        <br>
        <h2>Resumen positivo:</h2>
        <button mat-button [disableRipple]="true" color="primary"><h3>{{poll.resumen_positivo}}</h3></button>
        
        <mat-divider></mat-divider>
        <br>
        <h2>Resumen negativo:</h2>
        <button mat-button [disableRipple]="true" color="warn"><h3>{{poll.resumen_negativo}}</h3></button>
        
        <br>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button class="editDeleteButton" mat-flat-button color="primary" (click)="editPoll()">Editar</button>
      <button class="editDeleteButton" mat-flat-button color="primary"(click)="deletePoll()">Eliminar</button>
    </mat-card-footer>
  </div>
</mat-card>

<div class="buttonOpcions" *ngIf="poll.id_encuesta== null">
  <br>
  <br>
  <br>
  <h1>No ha cargado ninguna encuesta para esta descarga</h1>
  <button mat-raised-button color="primary" class="buttonEncuestas" (click)="openNewPoll()">Nueva encuesta</button>
</div>