<app-toolbar [title]= "'encuesta de'"></app-toolbar>
<mat-card class="matCardPoll">
    <div class="cardresumen">
      <mat-card-content>
        <div  >
          <h3>Puntaje: {{poll.puntaje}}</h3>
          <h2>Resumen negativo</h2>
          <h3>{{poll.resumen_positivo}}</h3>
          <h2>resumen positivo</h2>
          <h3>{{poll.resumen_negativo}}</h3>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button class="editDeleteButton" mat-flat-button color="primary"
           (click)="openNewPoll()">editar</button>
          <button class="editDeleteButton" mat-flat-button color="primary"
          >eliminar</button>
      </mat-card-footer>
    </div>
  </mat-card>