<h1>ABM - Encuesta</h1>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Puntaje </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="deleteAndEdit">
      <button mat-raised-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon">edit
        </mat-icon>
      </button>
      <button mat-raised-button color="primary">
        <mat-icon color="warn"aria-hidden="false" aria-label="Example home icon">delete
        </mat-icon>
      </button>
    </div> </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div class="buttonNew">
  <button mat-raised-button color="primary">Nuevo</button></div>