<div class="cardAdminPoll">
  <mat-card>

    <mat-card-header class="title">
      <mat-card-title>Administracion de encuesta</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>puntaje</mat-label>
        <select matNativeControl  [(ngModel)]="data.puntaje" required>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
          <option value=6>6</option>
          <option value=7>7</option>
          <option value=8>8</option>
          <option value=9>9</option>
          <option value=10>10</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="inputResumen">
        <mat-label>resumen positivo</mat-label>
        <textarea matInput type="text" placeholder="Texto libre" [(ngModel)]="data.resumen_positivo"maxlength="45"></textarea>
        <mat-hint align="end"> {{data.resumen_positivo.length}} / 45</mat-hint>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="inputResumen">
        <mat-label>resumen negativo</mat-label>
        <textarea matInput type="text" placeholder="Texto libre" maxlength="45" [(ngModel)]="data.resumen_negativo"></textarea>
        <mat-hint align="end">{{data.resumen_negativo.length}} / 45</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <div mat-dialog-actions>
      <button mat-raised-button (click)="save()"[mat-dialog-close]="true" cdkFocusInitial color="primary" 
      [disabled]="cantSave()">guardar</button>
      <button mat-raised-button (click)="onNoClick()" color="warn"[mat-dialog-close]="false">cancelar</button>
    </div>
  </mat-card>

</div>